*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul, li {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    max-width: 100%;
    width: 1440px;
}

.header {
   display: flex;
   flex-direction: row;
   width: 100%; 
   height: 100%; 
   background-color: #FFFFFF; 
   border-bottom: 1px #E7E9FC solid;
   justify-content: flex-start;
}

.header .container{
    display: flex;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 24px;
margin-bottom: 24px;
}

.menu-1{
    display: flex;
    list-style-type: none;
    margin-top: 24px;
margin-bottom: 24px;
}

.logo{
    color: #4d5ae5;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-left: 156px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.logo-span {
    color: #2e2f42;
}
.line:first-child{
    margin-left: 76px;
    margin-top: 24px;
margin-bottom: 24px;
}
.line{
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    list-style-type: none;
    margin-left: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.line-span {
    color: #2e2f42;
}
.line-span:focus {
    color: #404bbf;
}
.line-span:hover{
    color: #404bbf;
}
.line:focus{
    color: #404bbf;
}
.line:hover{
    color: #404bbf;
}
.address-header {
    display: flex;
    flex-direction: row;
    font-style: normal;
    justify-content: flex-start;
    margin-top: 24px;
    margin-bottom: 24px;
}
.line-three:first-child {
    margin-left: 332px;
}
.line-three:last-child{
    margin-right: 156px;
}
.line-three{
    gap: 40px;
    margin-top: 24px;
    margin-bottom: 24px;
    line-height: 1.5;
    color: #434455;
    text-decoration: none;
}
.line-three:hover{
    color: #404bbf
}
.line-three:focus{
    color: #404bbf
}
.section-one {
    background-color: #2e2f42;
}
.class-one{
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-left: 472px;
    margin-right: 472px;
    padding-top: 188px;
}
.order-button {
    background-color: #4d5ae5;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: inherit;
    line-height:1.5;
    letter-spacing: 0.04em;
    margin-left: 636px;
    margin-top: 48px;
    margin-bottom: 188px;
}
.order-button:hover {
    background-color: #404BBF;
}
button {
    cursor: pointer;
}
.order-button:focus {
    background-color: #404bbf;
}
.menu-2 {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    gap: 24px;
}
.item-2:first-child {
  margin-left: 156px;
}
.item-2 {
    margin-top: 120px;
    margin-bottom: 120px;
}
.item-2:last-child {
    margin-right: 156px;
}
.ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 8px;
}
.section-two-main-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0,02em;
    text-align: center;
}
.title {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.text {
    line-height: 1.5;
}
.sections-main-title {
    color: #2E2F42;
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-top: 120px;
}

.section-main-title{
    color: #2E2F42;
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 120px;
}

.section-three {
    background-color: #F4F4FD;
}

.box {
    border-bottom: 1px #E7E9FC solid;
}
.section-three-ul {
    background-color: #FFFFFF;
    margin-top: 72px;
    margin-bottom: 120px;
    gap: 24px;
}
.section-three-ul:first-child{
    margin-left: 156px;
}
.section-three-ul:last-child{
    margin-right: 156px;
}
.section-three-title {
    background-color: #FFFFFF;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.section-three-text {
    background-color: #FFFFFF;
    font-weight: 400;
    line-height: 1.5;
}
.menu-4 {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 8px;
}
.item-4:first-child{
    margin-left: 156px;
}
.item-4{
    gap: 24px;
    margin-top: 72px;
}
.item-4:nth-child(4){
    margin-left: 156px;
    margin-bottom: 156px;
}
.footer {
    background-color: #2e2f42;
    padding-top: 101px;
    padding-bottom: 100px;
}
.footer-logo {
    color: #4d5ae5;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-left: 156px;
}
.logo-span-second {
    color: #f4f4fd;
}
.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    margin-left: 156px;
    margin-top: 17px;
    margin-right: 1020px;
}